:root {
    --bg-color: PaleGoldenRod;
    --main-color: Gold;
    --second-color: Khaki;
    --third-color: Orange;
    --font-color: #2C2C2C;
}

* {
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 2rem;
}

.loginHeader {
    text-decoration: underline 4px var(--third-color);
}

.header {
    text-decoration: underline 2px;
}

.app {
    background-color: var(--second-color);
    border: 0.25em solid var(--third-color);
    border-radius: 6rem;
    margin: 2rem;
}

.userInfoDiv {
    background-color: var(--bg-color);
    border: 0.25em solid var(--main-color);
    border-radius: 4rem;
    margin: 2rem;
    padding: 1rem 0;
}

.graphDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.graphDiv>svg {
    background-color: var(--bg-color);
    border: 0.25em solid var(--main-color);
    border-radius: 4rem;
    margin: auto;
    padding: 2rem;
}

.graphDiv>svg:first-child {
    margin-right: 1rem;
}

p:first-line {
    line-height: 1.5em;
    font-weight: bold;
}

.userInfoDiv>p {
    margin: 1rem 0;
}

.logoutButton,
.button {
    font-size: 1rem;
    color: var(--third-color);
    border: 0.125em solid var(--third-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;

    padding: 5px 15px;
}

.logoutButton:hover,
.button:hover {
    background-color: var(--third-color);
    color: var(--main-color);
    border: 0.125em solid var(--main-color);
}

.input {
    width: 200px;
    height: 30px;
    font-size: 1rem;
    color: var(--font-color);
    background-color: var(--second-color);
    border: 0.25em solid var(--third-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.input:hover {
    background-color: var(--main-color);
}

.error {
    font-size: 1.25rem;
    color: red;
}

.loginDiv,
button {
    margin: 2rem;
}

.loginDiv>form>input {
    display: block;
    align-items: center;
    margin: auto;
    border-radius: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: var(--third-color);
    padding: 0.25rem;
}

footer>a {
    text-decoration: none;
    color: var(--second-color);
}

footer>a:hover {
    text-decoration: underline 2px;
    color: var(--main-color);
}